body{
    background-color:azure;
    font-family: Helvetica, sans-serif;
}

h1{
    font-family: Helvetica, sans-serif;
}

.button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: azure; 
    color: black; 
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  .center{
    margin-top: 5%;
    padding: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  #pic{
    left: 10px;
  }
  

  .abt{
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }